.wrap__title li{
    padding: 7px;
    list-style: none;
    text-align: left;
}
.wrap__title{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.wrap__title a {
    text-decoration: none;
    color: #000;
}
.wrap__title a:focus{
    text-decoration: none;
    color: #9831e8;
}
.wrap__title li:hover {
    background-color: darkgrey;
    transition:all .8s;
}

