.content {
    margin: 15px 0px;
}
.content__textArea textarea{
    height: 100px;
    width: 250px;
    resize: none;
    padding: 5px 10px;
    overflow: auto;
}
.content__button{

}
.content__button button{
    padding: 2px 10px;
}
