.header {
    /*for grid-area's elements*/
    grid-area: header;
    background-color: #524bb8;
}

.header__wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__wrapper_img {
    height: 100%;
}

.header__wrapper_img img {
    width: 120px;
    height: 100%;
}

.header__authBlock {
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__authBlock a {
    text-decoration: none;
    color: #fff;
}

.header__authBlock span {
    color: burlywood;
}

.header__authBlock_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 50px;
    text-align: center;
}
.header__logOutBtn {
    margin-top: 5px;
}
.header__logOutBtn button{
    padding: 5px;
}
.header__logOutBtn button:hover{
    background-color: #524bb8;
    transition: background-color .5s;
    box-shadow: 0px 0px 0px 0px;
}