.content__profileInfo {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
}

@media (max-width: 860px) {
    .content__profileInfo {
        border-radius: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

@media (max-width: 600px) {
    .content__profileInfo {
        border-radius: 0px;
    }
}

.content__mainInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
}

@media (max-width: 1100px) {
    .content__mainInfo {
        flex-direction: column;
        align-items: flex-start;
    }
}

.content__mainInfo_contactStatus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 25px;
}

@media (max-width: 1100px) {
    .content__mainInfo_contactStatus {
        margin: 15px 0 0 0;
    }
}

.content__mainInfo_contactStatus_spanContent {
    display: inline-block;
    width: 200px;
    height: auto;
}

.content__mainInfo_contactStatus_spanContent span {
    width: 100%;
    word-wrap: break-word;
}

.content__mainInfo_avatar {
    display: block;
    height: 200px;
    position: relative;
}

.content__mainInfo_avatar img:hover {
    background-color: #000;
    transition: all .3s;
    opacity: .8;
}

.content__mainInfo_photoBtn {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    display: none;
    transition: display .3s;
}

.content__mainInfo_avatar:hover > div.content__mainInfo_photoBtn {
    display: block;
    transition: all .3s;
    z-index: 999;
}

.content__mainInfo_avatar img {
    display: block;
    width: 200px;
    height: 100%;
    border: 2px solid darkgrey;
    border-radius: 50%;
    transition: all .3s;
}

@media (max-width: 1250px) {
    .content__mainInfo_avatar {
        display: block;
        height: 150px;
    }

    .content__mainInfo_photoBtn {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translateY(-50%);
        display: none;
        transition: display .3s;
    }

    .content__mainInfo_avatar img {
        display: block;
        width: 150px;
        height: 100%;
        border: 2px solid darkgrey;
        border-radius: 50%;
    }
}

@media (max-width: 1200px) {
    .content__mainInfo_avatar {
        display: block;
        height: 120px;
    }

    .content__mainInfo_photoBtn {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translateY(-50%);
        display: none;
        transition: display .3s;
    }

    .content__mainInfo_avatar img {
        display: block;
        width: 120px;
        height: 100%;
        border: 2px solid darkgrey;
        border-radius: 50%;
    }
}

.content__description {
    margin: 15px 0px;
    position: relative;
}

.content__description_editBtn {
    position: absolute;
    top: 0;
    right: 0;
}

.content__description_aboutMe,
.content__description_contacts,
.content__description_fullName,
.content__description_searchJob,
.content__description_desriptionOfJob {
    margin: 10px;
}

.content__socialLinks input{
    margin: -0.3em 0 0 0.3em;
}

.content__description_aboutMe input {
    margin: -0.1em 0 0 0.3em;
}

.content__socialLinks {
    display: block;
    padding-left: 15px;
}

.content__socialLinks span b {
    padding: 0px 0px;
}