.content{

}

.content__avatar img{
    max-width: 250px;
    max-height: 250px;
}

.content__description{
    margin: 15px 0px;
}

.content__description_aboutMe,
.content__description_contacts,
.content__description_fullName,
.content__description_searchJob,
.content__description_desriptionOfJob{
    margin: 10px 0px;
}
