* {
    box-sizing: border-box;
}

body {
    padding: 15px;
    background-color: #ebebf7;
}

.app__wrapper {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
            "header header"
            "nav content";
    grid-column-gap: 1vw;
    grid-row-gap: 2vh;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 150px 1fr;
}

.app__wrapper_content {
    /*for grid-area's elements*/
    grid-area: content;
    background-color: #ffffff;
}


