.dialogs {
    height: 100%;
    display: grid;
    grid-template-areas: 'people dialog';
    grid-template-rows: 1fr;
    grid-template-columns: minmax(200px, 1fr) minmax(300px, 1.5fr);
    grid-gap: 10px;
    background-color: #ebebf7;
}

@media (max-width: 750px) {
    .dialogs {
        display: block;
    }
}
.wrapper__header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    padding: 15px;
}

.dialogs__people {
    grid-area: people;
    background-color: #fff;
    border-radius: 10px;
}

@media (max-width: 750px) {
    .dialogs__people {
        border-radius: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

@media (max-width: 600px) {
    .dialogs__people {
        border-radius: 0px;
    }
}

.dialogs__messages {
    grid-area: dialog;
    background-color: #fff;
    border-radius: 10px;
}

@media (max-width: 750px) {
    .dialogs__messages {
        border-radius: 0px;
        border-top-bottom-radius: 10px;
        border-top-bottom-radius: 10px;
    }
}

@media (max-width: 600px) {
    .dialogs__messages {
        border-radius: 0px;
    }
}

.dialogs__messages_newMesssage {
    display: flex;
    align-items: center;
    margin: 20px 10px;
    width: 100%;
}

@media (max-width: 600px) {
    .dialogs__messages_newMesssage {
        padding: 15px 0px;
    }
}

.dialogs__messages_newMesssage_textarea {
    margin-right: 1vw;
    width: 100%;
}

.dialogs__messages_newMesssage_textarea textarea {
    color: rgba(0, 0, 0, 0.8);
    width: 350px;
    min-height: 4.5vh;
    resize: none;
    padding: 2px 5px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 5px;
}

@media (max-width: 900px) {
    .dialogs__messages_newMesssage_textarea textarea {
        width: 250px;
    }
}

.dialogs__messages_newMesssage_textarea textarea::placeholder {
    color: rgba(0, 0, 0, .5);
}

.dialogs__messages_newMesssage_textarea textarea:focus {
    outline: 0;
}

.dialogs__messages_newMesssage_button button {
    background-color: #524bb8;
    padding: 7px 15px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    color: white;
    transform: translateY(-7.5%);
}